<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flex</title>
    <link rel="stylesheet" href="layout.css" />
  </head>
  <body>
    <div class="container">
      <div class="columns">
        <div class="column one">
          <div>
            <h3>Content</h3>
            <p>Paragraph</p>
            <p>Another Paragraph</p>
          </div>
        </div>
        <div class="column two txt-center">Second column</div>
        <div class="column three txt-center">Column</div>
        <div class="column four txt-center">Column</div>
      </div>

      <div class="columns">
        <div class="column five">3/4</div>
        <div class="column is-one-quarter six">1/4</div>
      </div>
    </div>
  </body>
</html>
